/*

Primary Font: Lato
Secondary Font: Roboto Condensed

Dark Blue: rgb(73, 145, 245)
Light Blue: rgb(153, 190, 242)

'Bold' Orange: (224, 149, 18)
Light Orange: rgb(247, 190, 92)

font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;


*/
.content {
  animation: fade-in 1s;
}

.sidebar {
  animation: fade-in 1s;
}
body {
  background: rgba(153, 190, 242, 0.44);
}

img {
  width: 400px;
  height: 200px;
  transition: all 0.5s;
}

img:hover {
  width: 500px;
  height: 250px;
}

#main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 50px;
}

p,
li {
  font-family: "Lato", sans-serif;
}

h1,
h2,
a {
  font-family: "Roboto Condensed", sans-serif;
}

.image-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-flex > img {
  margin: 10px;
}

#image-1 {
  float: right;
  margin: 15px;
}

.sidebar {
  background: rgb(250, 218, 164);
}

.post {
  border: 1px solid rgb(164, 107, 8);
  margin: 10px;
}

.post-title {
  margin-left: 5px;
}

.post-text {
  margin-left: 5px;
  margin-right: 5px;
}

.post > a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: rgb(9, 90, 204);
  transition: color 0.5s;
}

.post > a:hover {
  color: rgb(153, 190, 242);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
